In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('weather_data.csv')

In [4]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

## Find Number of columns and rows

In [6]:
df.shape

(6, 4)

## Tuple Unpacking of number of rows and columns

In [7]:
rows, columns = df.shape

In [8]:
rows

6

In [9]:
columns

4

### Head and Tail

In [10]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [11]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

### Indexing

In [14]:
## Accessing from row 2 to 4

#### Rows

In [13]:
df[2:5] #lower limit is whereas included uppper limit is excluded

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [15]:
df[:3]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [16]:
df[2:]

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [17]:
## Access only one intended row (Row no: 4)

In [18]:
df[3:4] ## As indexing starts from 0

        day  temperature  windspeed event
3  1/4/2017           24          7  Snow

#### Columns

In [ ]:
## Print all the column heads in a data frame

In [19]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [20]:
## Access and induvidual column

In [21]:
df.day # but it is not supposed to be practised

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [22]:
df['day'] # right way of accessing a col

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [23]:
df['windspeed'] # Accessing by the name

0    6
1    7
2    2
3    7
4    4
5    2
Name: windspeed, dtype: int64

In [27]:
df.iloc[:, 2] # Accessing by the index

0    6
1    7
2    2
3    7
4    4
5    2
Name: windspeed, dtype: int64

#### Access multiple Columns

In [28]:
df[['temperature', 'day']] # Ordering in the way columns are accessed(in the df -> day is first col and temp is 2nd col)

   temperature       day
0           32  1/1/2017
1           35  1/2/2017
2           28  1/3/2017
3           24  1/4/2017
4           32  1/5/2017
5           31  1/6/2017

In [29]:
df[['windspeed', 'day', 'temperature', 'event']]

   windspeed       day  temperature  event
0          6  1/1/2017           32   Rain
1          7  1/2/2017           35  Sunny
2          2  1/3/2017           28   Snow
3          7  1/4/2017           24   Snow
4          4  1/5/2017           32   Rain
5          2  1/6/2017           31  Sunny

#### Exploring DF

In [30]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [31]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [32]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [ ]:
## To find info about the data frame

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
day            6 non-null object
temperature    6 non-null int64
windspeed      6 non-null int64
event          6 non-null object
dtypes: int64(2), object(2)
memory usage: 272.0+ bytes

In [ ]:
## To find is there a null value entered (Provides boolean results i.e false -> no null value, true -> null value is present)

In [35]:
df.isnull()

     day  temperature  windspeed  event
0  False        False      False  False
1  False        False      False  False
2  False        False      False  False
3  False        False      False  False
4  False        False      False  False
5  False        False      False  False

In [ ]:
## Detect missing values for an array-like object.

In [37]:
df.isna()

     day  temperature  windspeed  event
0  False        False      False  False
1  False        False      False  False
2  False        False      False  False
3  False        False      False  False
4  False        False      False  False
5  False        False      False  False

## Operations

In [39]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
## to find the max value in a col

In [38]:
df['temperature'].max()

35

In [40]:
## to find the index of the max value in a col

In [41]:
df['temperature'].idxmax() # intially this was .argmax() but now argmax is deprecated

1

In [ ]:
## To find the unique entries in that col

In [42]:
df['temperature'].value_counts # Note the row 0 also has temp value 32 but its not taken into account as only unique entries are
                               # mentioned, so the next preceeding row that contains 32 is 4 and its taken into account there

<bound method IndexOpsMixin.value_counts of 0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64>

In [ ]:
## Describe method provides stats of numerical cols only ( Event col is categorical and Day col is strings )

In [47]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [48]:
## its much easier to look each col as a row and stats as cols so transpose

In [49]:
df.describe().transpose()

             count       mean       std   min    25%   50%    75%   max
temperature    6.0  30.333333  3.829708  24.0  28.75  31.5  32.00  35.0
windspeed      6.0   4.666667  2.338090   2.0   2.50   5.0   6.75   7.0

### Conditional Operations

In [ ]:
## Greater than Condition

In [51]:
df[df['temperature']>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [ ]:
## Equal to

In [52]:
df[df['temperature'] == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

#### Column Selection along with Condition

In [53]:
df[df['temperature'] == df['temperature'].max()]['windspeed']

1    7
Name: windspeed, dtype: int64

In [59]:
df[df['temperature'] == df['temperature'].max()]['day']

1    1/2/2017
Name: day, dtype: object