In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('weather_data_missing.csv')

In [10]:
df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

### Checking the datatype

In [11]:
type(df.day[0])

str

In [12]:
## the first col is containing values of dates but its actual type is str
## convert it into datetype

In [13]:
df = pd.read_csv('weather_data_missing.csv', parse_dates=['day'])

In [14]:
type(df.day[0]) ## incorrect way of accessing the column but can be used to immediately understand the data type

pandas._libs.tslibs.timestamps.Timestamp

In [15]:
type(df['day']) ## provides the data type of the entire column

pandas.core.series.Series

In [16]:
type(df['day'][0]) ## correct way of accessing the column to understand the data type

pandas._libs.tslibs.timestamps.Timestamp

### Finding the missing values

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
day            9 non-null datetime64[ns]
temperature    5 non-null float64
windspeed      5 non-null float64
event          7 non-null object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 368.0+ bytes

In [18]:
df.isna()

     day  temperature  windspeed  event
0  False        False      False  False
1  False         True      False  False
2  False        False       True  False
3  False         True      False   True
4  False        False       True  False
5  False         True       True  False
6  False         True       True   True
7  False        False      False  False
8  False        False      False  False

In [19]:
df.isnull()

     day  temperature  windspeed  event
0  False        False      False  False
1  False         True      False  False
2  False        False       True  False
3  False         True      False   True
4  False        False       True  False
5  False         True       True  False
6  False         True       True   True
7  False        False      False  False
8  False        False      False  False

In [20]:
df.isnull

<bound method DataFrame.isnull of          day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny>

### Creating a new df with na values filled with 0

In [21]:
df1 = df.fillna(0)

In [22]:
df1 ## df was replicated by replacing the NaN with 0's

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          0.0        9.0   Sunny
2 2017-01-05         28.0        0.0    Snow
3 2017-01-06          0.0        7.0       0
4 2017-01-07         32.0        0.0    Rain
5 2017-01-08          0.0        0.0   Sunny
6 2017-01-09          0.0        0.0       0
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

Replacing NaN with 0's and filling the entire table does not make sense so lets change the idea of replacing

In [23]:
## Adding a dictionary to add appropriate values to be replaced instead of NaN
df1 = df.fillna({
    'temperature' : 0,
    'windspeed' : 0,
    'event' : 'no event'
})

In [24]:
df1

         day  temperature  windspeed     event
0 2017-01-01         32.0        6.0      Rain
1 2017-01-04          0.0        9.0     Sunny
2 2017-01-05         28.0        0.0      Snow
3 2017-01-06          0.0        7.0  no event
4 2017-01-07         32.0        0.0      Rain
5 2017-01-08          0.0        0.0     Sunny
6 2017-01-09          0.0        0.0  no event
7 2017-01-10         34.0        8.0    Cloudy
8 2017-01-11         40.0       12.0     Sunny

#### Various methods of fillna

Instead of replacing the values with 0 or adding no event we can use several methods provided by fillna 
such as
(1.ffill-> foward fill, 2.bfill-> backward fill)

1. ffill -> foward fill which fills the current value to next entry if NaN with present value hence foward fill

In [25]:
df1 = df.fillna(method='ffill')

In [26]:
df1

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04         32.0        9.0   Sunny
2 2017-01-05         28.0        9.0    Snow
3 2017-01-06         28.0        7.0    Snow
4 2017-01-07         32.0        7.0    Rain
5 2017-01-08         32.0        7.0   Sunny
6 2017-01-09         32.0        7.0   Sunny
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [27]:
df2 = df.fillna(method='bfill')

In [28]:
df2

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04         28.0        9.0   Sunny
2 2017-01-05         28.0        7.0    Snow
3 2017-01-06         32.0        7.0    Rain
4 2017-01-07         32.0        8.0    Rain
5 2017-01-08         34.0        8.0   Sunny
6 2017-01-09         34.0        8.0  Cloudy
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [29]:
## Limitint the replacing values

In [31]:
df2 = df.fillna(method='bfill', limit=1) ## fills the NaN with the times passed into limit arg

In [32]:
df2

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04         28.0        9.0   Sunny
2 2017-01-05         28.0        7.0    Snow
3 2017-01-06         32.0        7.0    Rain
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09         34.0        8.0  Cloudy
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [33]:
df2 = df.fillna(method='bfill', limit=2)

In [34]:
df2

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04         28.0        9.0   Sunny
2 2017-01-05         28.0        7.0    Snow
3 2017-01-06         32.0        7.0    Rain
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08         34.0        8.0   Sunny
6 2017-01-09         34.0        8.0  Cloudy
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

### Using Interpolation

InterPolation addresse's the NaN values which are numerical but it does not affect categorical col's

In [35]:
df1 = df.interpolate() ## Note that values in temp and windspeed cols gets linear interpolated values but nothing happens in event col

In [36]:
df1

         day  temperature  windspeed   event
0 2017-01-01    32.000000       6.00    Rain
1 2017-01-04    30.000000       9.00   Sunny
2 2017-01-05    28.000000       8.00    Snow
3 2017-01-06    30.000000       7.00     NaN
4 2017-01-07    32.000000       7.25    Rain
5 2017-01-08    32.666667       7.50   Sunny
6 2017-01-09    33.333333       7.75     NaN
7 2017-01-10    34.000000       8.00  Cloudy
8 2017-01-11    40.000000      12.00   Sunny

If we observe the day col 1st row has day_no:01 and second row has day_no:04 NaN and third row has day_no:05 but its taking the linear interpolated values between 01 and 05 and providing it to day 04 hence lets use a parameter time to address this problem

In [38]:
df1 = df.interpolate(method="time")

ValueError: time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

In [ ]:
## Replacing the existing index with day column for interpolation to work

In [39]:
df_day = df.set_index('day')

In [40]:
df_day

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [ ]:
## Using time method in interpolate to get more accurate values assigned

In [41]:
df1 = df_day.interpolate(method="time")

In [42]:
df1

            temperature  windspeed   event
day
2017-01-01    32.000000       6.00    Rain
2017-01-04    29.000000       9.00   Sunny
2017-01-05    28.000000       8.00    Snow
2017-01-06    30.000000       7.00     NaN
2017-01-07    32.000000       7.25    Rain
2017-01-08    32.666667       7.50   Sunny
2017-01-09    33.333333       7.75     NaN
2017-01-10    34.000000       8.00  Cloudy
2017-01-11    40.000000      12.00   Sunny

## Drop

####    drop rows with NaN values

In [43]:
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

row no:(index no) 1->1NaN, 2->1NaN, 3->2NaN, 4->1NaN, 5->2NaN, 6->3NaN,

In [ ]:
## dropna() drops the entire row even if there is a single column with NaN value

In [44]:
df1 = df.dropna()

In [45]:
df1

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [59]:
df_drop = df.dropna(thresh=None)

In [60]:
df_drop

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [63]:
df_drop1=df.dropna(thresh=2)

In [64]:
df_drop1

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [71]:
df_drop2 = df.dropna(thresh=2)

In [72]:
df_drop2

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

## Adding Missing Dates

In [75]:
dt = pd.date_range("01-01-2017","01-11-2017")
idx = pd.DatetimeIndex(dt)
df.reindex(idx)

           day  temperature  windspeed event
2017-01-01 NaT          NaN        NaN   NaN
2017-01-02 NaT          NaN        NaN   NaN
2017-01-03 NaT          NaN        NaN   NaN
2017-01-04 NaT          NaN        NaN   NaN
2017-01-05 NaT          NaN        NaN   NaN
2017-01-06 NaT          NaN        NaN   NaN
2017-01-07 NaT          NaN        NaN   NaN
2017-01-08 NaT          NaN        NaN   NaN
2017-01-09 NaT          NaN        NaN   NaN
2017-01-10 NaT          NaN        NaN   NaN
2017-01-11 NaT          NaN        NaN   NaN